.brewery-card {
    background-color: var(--text-highlight);
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.column {
    padding: .1rem;
}

.content {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.brewery-link {
    color: var(--ocean-teal);
    text-decoration: underline;
    font-weight: 600;
}

.card-header-title {
    font-weight: 700;
    color: var(--text-highlight);
    background-image: linear-gradient(to right, var(--ocean-teal), var(--earthy-brown)); 
    display: inline-block;
    padding: 0.25rem 0.5rem;
    
}
